<a href="https://colab.research.google.com/github/DikshaDayal/Machine-Learning/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages used in Machine Learning :-
1. Python
2. R

# Print Function

In [1]:
print('Python Basics')

Python Basics

In [2]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [3]:
print(8)

8

In [4]:
print(8+9)

17

# Basic Data Types:


1. Integer
2. Float
3. String

In [5]:
type(8)

int

In [6]:
type("Diksha")

str

In [7]:
type(8.325)

float

# Constants and Variables

In [9]:
marvel_super_hero = "Iron Man"
print(marvel_super_hero)

Iron Man

In [10]:
marvel_super_hero = "Diksha"
print(marvel_super_hero)

Diksha

In [11]:
hero1 , hero2 , hero3 = "Diksha" , "Deldan" , "Deepa"
print(hero1)
print(hero2)
print(hero3)

Diksha
Deldan
Deepa

In [12]:
x = y = z = 69
print(x)
print(y)
print(z)

69
69
69

# Input Functions

In [21]:
num_1 = int(input('Enter the First Number :- '))
num_2 = int(input('Enter the Second Number :- '))
sum = num_1 + num_2
print(sum)

Enter the First Number :- 46
Enter the Second Number :- 4
50

# Changing The Data Types in python

In [22]:
num = 5
type(num)

int

In [23]:
print(float(num))

5.0