<a href="https://colab.research.google.com/github/DikshaDayal/Machine-Learning/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Pyton
1. Immutable Objects (Whose Value Can be changed once it created)
2. Mutable Objects (Whose Value Can't be changed once it created)

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple


Mutuable object
1. List
2. set
3. Dictionary

List

In [1]:
# List Should be included in square bracket and it can have multiple data types
a = [1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [7]:
print(a[1])  #Access any data type
# print(a[5]) Index out of range : Error

2

In [3]:
b = [5.0 , "Diksha" , 69 , False]
print(b)

[5.0, 'Diksha', 69, False]

In [4]:
b[0] = 45.2  # List is Mutable
print(b)

[45.2, 'Diksha', 69, False]

In [5]:
#add elements to list
b.append("Determined")
print(b)

[45.2, 'Diksha', 69, False, 'Determined']

In [8]:
#Lists Allow Duplicate Values
c = [7,8,2,7,8,9,0,4,0,8]
print(c)

[7, 8, 2, 7, 8, 9, 0, 4, 0, 8]

In [11]:
# Print the Length of the C List
print(len(c))

10

In [13]:
#Initiating an Empty List
d = []
print(d)
d.append(5)
print(d)

[]
[5]

In [17]:
#delete the items in a list
c = [7,8,2,7,8,9,0,4,0,8]
del c[2]
print(c)

[7, 8, 7, 8, 9, 0, 4, 0, 8]

In [19]:
# Join the List
x = [1 ,2,3]
y = [7,8,9]
z = x + y
print(z)

[1, 2, 3, 7, 8, 9]

Tuple

In [20]:
tuple_1 = (1,2,3,4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [22]:
# tuple allows multiple data types
tuple_2 = (1,2,2,1,2,1)
print(tuple_2)

(1, 2, 2, 1, 2, 1)

In [23]:
#converting list to Tuple
my_list = [1,2,3,4,5]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [24]:
print(my_tuple[0])

1

Tuples are Immutable ---> unchangable

In [26]:
my_tuple.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
print(len(my_tuple))

5

Set

In [29]:
# set ----> Curly Brackets
my_set = {1,3,2,5}
print(my_set)
type(my_set)

{1, 2, 3, 5}

set

In [30]:
#set Doesn't suport indexing
my_set[0]

TypeError: 'set' object is not subscriptable

In [32]:
# converting list to Set
my_List1 = [1,2,3,4,5,5]
my_set = set(my_List1)
print(my_set)

{1, 2, 3, 4, 5}

In [33]:
# set doesn't allows Duplicates
my_Set1 = {1,2,2,5,6,5,5}
print(my_Set1)

{1, 2, 5, 6}

Dictionary
(Key-Value Pair)

In [34]:
my_dictionary = {'name' : 'Diksha' , 'age' : 20 , 'country' : 'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Diksha', 'age': 20, 'country': 'India'}

dict

In [37]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Diksha
20
India

In [39]:
# dictionary doesn't Allows duplicate values
my_dictionary2 = {'name' : 'Diksha' , 'age' : 20 , 'country' : 'India' , 'name':'Dayal'}
print(my_dictionary2)

{'name': 'Dayal', 'age': 20, 'country': 'India'}