<a href="https://colab.research.google.com/github/DikshaDayal/Machine-Learning/blob/main/2_5_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python
1. Arithmatic Operator
2. Assignmnet Operator
3. Comparison operator
4. Logical Operator
5. Identity Operator
6. Membership Operator

1. Arithmatic Operators

In [4]:
num1 = 20
num2 = 30
#addition
print('Addition' , num1+num2)
#subtraction
print('Subtraction' , num1-num2)
print('Subtraction' ,num2-num1)
#Multiplication
print('Multiplication' ,num1*num2)
#division
print('Division' ,num1/num2)
print('Division' ,num2/num1)
#Modulo
print('Modulo' ,num1%num2)
print('Modulo' ,num2%num1)
#Exponent
print('Exponent' , num1**num2)
print('Exponent' , num2**num1)

Addition 50
Subtraction -10
Subtraction 10
Multiplication 600
Division 0.6666666666666666
Division 1.5
Modulo 20
Modulo 10
Exponent 1073741824000000000000000000000000000000
Exponent 348678440100000000000000000000

2. Assignmnet Operators
-=
+=
*=
/=
**=
%=

In [5]:
a = 5
a+=5
print(a)  # a = 10
a-=5
print(a)  # a = 5
a*=5
print(a)  # a = 25
a/=5
print(a)  # a = 5
a%=5
print(a)  # a = 0
a/=5
print(a)  # a = 0

10
5
25
5.0
0.0
0.0

3. Comparison Operator

In [6]:
a = 10
b = 20
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print(a>b)
print(a<b)

False
True
False
True
False
True

4. Logical Operators
And , or , not , xor

In [11]:
a = 2
b = 3
print(a&b)
print(a|b)
print(~b)
print(~a)
print(a^b)
print (a<b and a>=2)
print (a>b or a>=2)
print (not(a<b and a>=2))

2
3
-4
-3
1
True
True
False

5. Identity Operators

In [12]:
a = 5
b = 5
print(a is b)
print(a is  not b)
a = 5
b = 10
print(a is b)
print(a is  not b)

True
False
False
True

6. Membership Operators

In [13]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True