<a href="https://colab.research.google.com/github/DikshaDayal/Machine-Learning/blob/main/2_8_Functions_In_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function
Function is a block of program that can be reused again n again when called.

#Factorial of a number

In [3]:
number = int(input('Enter the number to find its factorial :- '))

if(number==0):
  print('The factorial of 0 is 1')
else:
    factorial = 1
for i in range (1,number+1):
       factorial*=i
print('The factorial of ' , number, 'is :- ' , factorial)

Enter the number to find its factorial :- 5
The factorial of  5 is :-  120

In [4]:
# Faactorial Function
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [5]:
print(factorial_value(7))

5040

#Sum of n natural Number

In [7]:
num = int(input('Enter the number to find the sum of first n natural number :- '))
sum = 0
for i in range(1,num+1):
  sum+=i
print('The sum of ' , num, 'Natural number is :- ',sum)

Enter the number to find the sum of first n natural number :- 10
The sum of  10 Natural number is :-  55

In [10]:
def Sum(num):
  sum = 0
  for i in range(1,num+1):
    sum+=i
  return sum

In [11]:
print(Sum(10))

55

#Reverse a String

In [18]:
def reverse(str):
  i = 0
  j = len(str)-1
  str_list = list(str)
  while(i<j):
    str_list[i] , str_list[j] = str_list[j] ,str_list[i]
    i+=1
    j-=1
  return ''.join(str_list)

In [19]:
print(reverse("Diksha"))

ahskiD